<h2>Show user</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
	

</ul>

<%= link "Chat", to: page_path(@conn, :index), class: "btn btn-info" %><br><br>
<%= link "Back", to: user_path(@conn, :index) %>