<div class="row">
  <div class="col-md-12 alert alert-info">
    Hello, <span id="User"><%= "#{current_user(@conn).email}" %></span>!
  </div>
  <div class="col-md-6">
    <h2>Messages:</h2>
    <ul id="MessageList" class="list-unstyled" style="height: 300px; border: 1px solid black; overflow-y: auto; padding: 10px;" ></ul>
    <input type="text" id="NewMessage" class="form-control">
  </div>
    <div  class="col-md-4">
    <h2>Who’s Online</h2>
    <ul id="UserList" class="list-unstyled">
      <li>Loading online users...</li>
    </ul>
  </div>
</div>